[Unit]
Description=Run scrutiny collecctor
Requires={{ scrutiny_collector_systemd_requires }}
After={{ scrutiny_collector_systemd_after }}

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 60
ExecStart={{ scrutiny_collector_run_command }}

[Install]
WantedBy=multi-user.target