[Unit]
Description=Run scrutiny collecctor
Requires={{ scrutiny_collector_systemd_requires }}
After={{ scrutiny_collector_systemd_after }}

[Service]
ExecStart={{ scrutiny_collector_run_command }}
Type=oneshot

[Install]
WantedBy=multi-user.target