[DEFAULT]
rhost = {{ certbot_asrock_ipmi_cert_updater_domain_name }}
key-file = {{ certbot_asrock_ipmi_cert_updater_certificates_path}}/privkey.pem
cert-file = {{ certbot_asrock_ipmi_cert_updater_certificates_path}}/fullchain.pem
username = {{ certbot_asrock_ipmi_cert_updater_username }}
password = {{ certbot_asrock_ipmi_cert_updater_password }}