#!/usr/bin/sh

hostname=$(hostname --short)

curl \
--silent \
--show-error \
--output /dev/null \
--form token={{ nut_notify_pushover_token }} \
--form user={{ nut_notify_pushover_user_key }} \
--form title="$hostname/$UPSNAME: $NOTIFYTYPE" \
--form message="$1" \
https://api.pushover.net/1/messages.json
