api:
  origin: "*"
  tls_listen: ":443"
  tls_cert: /etc/letsencrypt/live/pi-camera.omegaho.me/fullchain.pem
  tls_key: /etc/letsencrypt/live/pi-camera.omegaho.me/privkey.pem
streams:
  # cam0:
  #   - exec:rpicam-vid --camera 0 --autofocus-range macro --framerate 30 --width 1920 --height 1080 --codec libav --libav-format h264 --libav-video-codec libx264 --libav-video-codec-opts 'profile=high;level=4.2;preset=fast;tune=zerolatency' --timeout 0 --nopreview --inline --verbose 0 --output -
  #   - ffmpeg:cam0#video=mjpeg
  cam0:
    - exec:rpicam-vid --camera 0 --autofocus-range macro --framerate 30 --width 1920 --height 1080 --codec mjpeg --timeout 0 --nopreview --inline --verbose 0 --output -
  cam1:
    - exec:rpicam-vid --camera 1 --vflip --hflip --autofocus-mode continuous --autofocus-range normal --autofocus-window 0.25,0.2,0.4,0.6 --framerate 30 --width 2304 --height 1296 --codec libav --libav-format h264 --libav-video-codec libx264 --libav-video-codec-opts 'profile=high;level=4.2;preset=fast;tune=zerolatency' --timeout 0 --nopreview --inline --verbose 0 --output -
