---
- name: Initial docker compose setup
  vars:
    docker_compose_src_file_path: templates/docker-compose-traefik.yaml.j2
    docker_compose_dst_file_name: docker-compose-traefik.yaml
    docker_compose_should_include_in_main_compose_file: false
    docker_compose_envs:
      TRAEFIK_VERSION: "{{ docker_compose_traefik_version }}"
      CERTBOT_EMAIL: "{{ certbot_email }}"
      CLOUDFLARE_API_TOKEN: "{{ cloudflare_api_token }}"
  ansible.builtin.include_role:
    name: docker_compose
