---
- name: List current docker-compose files
  ansible.builtin.find:
    paths:
      - "{{ docker_compose_dst_directory_path }}"
    patterns:
      - "docker-compose-*.y*ml"
  register: find_docker_compose_files_result
# - name: Set docker_compose_file_paths
#   vars:
#     existing_docker_compose_file_paths: "{{ find_docker_compose_files_result.files | map(attribute='path') | list }}"
#   ansible.builtin.set_fact:
#     docker_compose_file_paths: "{{ existing_docker_compose_file_paths | union([docker_compose_dst_file_path]) }}"
- name: Copy main docker compose file
  vars:
    existing_docker_compose_file_paths: "{{ find_docker_compose_files_result.files | map(attribute='path') | list }}"
    docker_compose_file_paths: "{{ existing_docker_compose_file_paths | union([docker_compose_dst_file_path]) | sort }}"
  ansible.builtin.template:
    src: templates/docker-compose.yaml.j2
    dest: "{{ (docker_compose_dst_directory_path, 'docker-compose.yaml') | path_join }}"
    owner: "{{ docker_compose_uid }}"
    group: "{{ docker_compose_gid }}"
    mode: "0644"
