---
- name: "Run {{ docker_compose_base_command }} pull" # noqa name[template]
  become: false
  ansible.builtin.command:
    cmd: "{{ docker_compose_base_command }} pull"
  register: docker_compose_pull_result
  changed_when: docker_compose_pull_result.stderr_lines | reject('match', '.*(Pulling|Pulled|Skipped).*') is any
