PBS_USERNAME={{ pbs_exporter_pbs_username }}
PBS_API_TOKEN_NAME={{ pbs_exporter_api_token_name }}
PBS_API_TOKEN_FILE={{ pbs_exporter_api_token_path }}
PBS_ENDPOINT={{ pbs_exporter_endpoint }}
PBS_INSECURE={{ pbs_exporter_insecure | string | lower }}
PBS_LISTEN_ADDRESS={{ pbs_exporter_listen_address }}
