{% for dataset_config_key in combined_sanoid_dataset_configs | default([]) %}
[{{ dataset_config_key }}]
{% for option_key in combined_sanoid_dataset_configs[dataset_config_key] %}
{% if combined_sanoid_dataset_configs[dataset_config_key][option_key] is boolean %}
{{ option_key }} = {% if combined_sanoid_dataset_configs[dataset_config_key][option_key] %}yes{% else %}no{% endif +%}
{% else %}
{{ option_key }} = {{ combined_sanoid_dataset_configs[dataset_config_key][option_key] }}
{% endif %}
{% endfor %}

{% endfor %}