{% if profile.pikvm_url is defined %}
REMOTE_POWER_CONTROL_PIKVM_URL="{{ profile.pikvm_url }}"
{% endif %}
{% if profile.pikvm_username is defined %}
REMOTE_POWER_CONTROL_PIKVM_USERNAME="{{ profile.pikvm_username }}"
{% endif %}
{% if profile.pikvm_password is defined %}
REMOTE_POWER_CONTROL_PIKVM_PASSWORD="{{ profile.pikvm_password }}"
{% endif %}
{% if profile.homeassistant_url is defined %}
REMOTE_POWER_CONTROL_HOMEASSISTANT_URL="{{ profile.homeassistant_url }}"
{% endif %}
{% if profile.homeassistant_access_token is defined %}
REMOTE_POWER_CONTROL_HOMEASSISTANT_ACCESS_TOKEN="{{ profile.homeassistant_access_token }}"
{% endif %}
