{% if remote_power_control_pikvm_url is defined %}
REMOTE_POWER_CONTROL_PIKVM_URL="{{ remote_power_control_pikvm_url }}"
{% endif %}
{% if remote_power_control_pikvm_username is defined %}
REMOTE_POWER_CONTROL_PIKVM_USERNAME="{{ remote_power_control_pikvm_username }}"
{% endif %}
{% if remote_power_control_pikvm_password is defined %}
REMOTE_POWER_CONTROL_PIKVM_PASSWORD="{{ remote_power_control_pikvm_password }}"
{% endif %}
{% if remote_power_control_homeassistant_url is defined %}
REMOTE_POWER_CONTROL_HOMEASSISTANT_URL="{{ remote_power_control_homeassistant_url }}"
{% endif %}
{% if remote_power_control_homeassistant_access_token is defined %}
REMOTE_POWER_CONTROL_HOMEASSISTANT_ACCESS_TOKEN="{{ remote_power_control_homeassistant_access_token }}"
{% endif %}
{% for env in remote_power_control_extra_envs | default({}) | dict2items %}
{{ env.key }}={{ env.value }}
{% endfor %}