#!/usr/bin/env sh

trap exit TERM
while :; do
  certbot renew \
    --config-dir /certbot/config \
    --work-dir /certbot/work \
    --logs-dir /certbot/logs
{% if certbot_deploy_hook is defined %}
    --deploy-hook {{ certbot_deploy_hook }}
{% endif %}
  sleep 24h & wait ${!}
done