[Unit]
Description=Update beszel-agent if needed
Wants=beszel-agent.service

[Service]
Type=oneshot
{% if pikvm_os is defined and pikvm_os is true %}
ExecStartPre=/usr/bin/rw
ExecStartPost=/usr/bin/ro
{% endif %}
ExecStart={{ beszel_agent_bin_path }} update
