ACTION=="add", SUBSYSTEM=="pci", ATTR{subsystem_device}=="{{ realtek_r8125_dkms_package_subsystem_device }}", ATTR{subsystem_vendor}=="{{ realtek_r8125_dkms_package_subsystem_vendor }}" \
RUN+="/bin/sh -c 'echo $kernel > /sys/bus/pci/drivers/r8169/unbind'", \
RUN+="/bin/sh -c 'echo $kernel > /sys/bus/pci/drivers/r8125/bind'"
