---
services:
  audiobookshelf:
    image: ghcr.io/advplyr/audiobookshelf:latest
    container_name: audiobookshelf
    volumes:
      - nas-01_audiobooks:/audiobooks
      - ${DOCKER_DATA_DIRECTORY}/audiobookshelf/config:/config
      - ${DOCKER_DATA_DIRECTORY}/audiobookshelf/metadata:/metadata
    environment:
      - TZ=${TZ}
    restart: unless-stopped
    networks:
      - traefik
    labels:
      - traefik.enable=true
  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    user: ${PUID}:${PGID}
    hostname: ${HOSTNAME}
    restart: unless-stopped
    networks:
      - traefik
    ports:
      - "7359:7359/udp"
      - "1900:1900/udp"
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu, compute, video, utility]
    volumes:
      - ${DOCKER_DATA_DIRECTORY}/jellyfin/config:/config
      - ${DOCKER_DATA_DIRECTORY}/jellyfin/cache:/cache
      - nas-01_storage:/media
    # Optional - alternative address used for autodiscovery
    environment:
      - JELLYFIN_PublishedServerUrl=https://jellyfin.${DOMAIN_NAME}
    labels:
      - traefik.enable=true
      - traefik.http.routers.jellyfin.rule=Host(`jellyfin.$DOMAIN_NAME`)
      - traefik.http.services.jellyfin.loadbalancer.server.port=8096
  plex:
    image: ghcr.io/linuxserver/plex:latest
    container_name: plex
    restart: unless-stopped
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu, compute, video, utility]
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - VERSION=latest
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
      - DOCKER_MODS=linuxserver/mods:plex-audnexus|linuxserver/mods:plex-absolute-hama
      # - PLEX_CLAIM=${PLEX_CLAIM_TOKEN}
    network_mode: host
    # devices:
    #   - /dev/dri:/dev/dri
    volumes:
      - ${DOCKER_DATA_DIRECTORY}/plex/config:/config
      - ${DOCKER_DATA_DIRECTORY}/plex/transcode:/transcode
      - nas-01_storage:/data
    labels:
      - traefik.enable=true
      - dsm.url=https://app.plex.tv
  tdarr:
    container_name: tdarr
    image: ghcr.io/haveagitgat/tdarr:latest
    restart: unless-stopped
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu, compute, video, utility]
    ports:
      # - 8265:8265 # webUI port
      - 8266:8266 # server port
      - 8267:8267 # Internal node port
      - 8268:8268 # Example extra node port
    networks:
      - traefik
    environment:
      - TZ=${TZ}
      - PUID=${PUID}
      - PGID=${PGID}
      - UMASK_SET=002
      - serverIP=0.0.0.0
      - serverPort=8266
      - webUIPort=8265
      - internalNode=true
      - inContainer=true
      - nodeName=${HOSTNAME}
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
    volumes:
      - ${DOCKER_DATA_DIRECTORY}/tdarr/server:/app/server
      - ${DOCKER_DATA_DIRECTORY}/tdarr/configs:/app/configs
      - ${DOCKER_DATA_DIRECTORY}/tdarr/logs:/app/logs
      - nas-01_storage:/mnt/storage
      - ${DOCKER_DATA_DIRECTORY}/tdarr/transcode_cache:/transcode_cache
    labels:
      - traefik.enable=true

networks:
  traefik:
    name: traefik
    external: true

volumes:
  nas-01_storage:
    name: nas-01_storage
    driver: local
    driver_opts:
      type: cifs
      device: "//nas-01.${DOMAIN_NAME}/storage"
      o: noserverino,username=${SMB_STORAGE_USERNAME},password=${SMB_STORAGE_PASSWORD},uid=${SMB_STORAGE_UID},gid=${SMB_STORAGE_GID}
  nas-01_audiobooks:
    name: nas-01_audiobooks
    driver: local
    driver_opts:
      type: cifs
      device: "//nas-01.${DOMAIN_NAME}/storage/Audiobooks"
      o: noserverino,username=${SMB_STORAGE_USERNAME},password=${SMB_STORAGE_PASSWORD},uid=${SMB_STORAGE_UID},gid=${SMB_STORAGE_GID}
