---
services:
  gitea:
    image: gitea/gitea:latest
    container_name: gitea
    environment:
      - USER_UID=${PUID}
      - USER_GID=${PGID}
    restart: unless-stopped
    ports:
      - "222:22" # SSH
    volumes:
      - /mnt/tank/data/gitea:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    networks:
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.gitea.rule=Host(`gitea.$DOMAIN_NAME`)
      - traefik.http.routers.gitea.entrypoints=websecure
      - traefik.http.routers.gitea.tls.certresolver=cloudflare
      - traefik.http.routers.gitea.service=gitea
      - traefik.http.services.gitea.loadbalancer.server.port=3000
      - dsm.traefik.router=gitea
  iperf:
    container_name: iperf
    image: mlabbe/iperf3
    restart: unless-stopped
    ports:
      - 5201:5201/tcp
      - 5201:5201/udp
  minio:
    image: minio/minio:latest
    container_name: minio
    restart: unless-stopped
    command:
      ['server', '/data', '--address', '0.0.0.0:9000', '--console-address', '0.0.0.0:9001']
    environment:
      - MINIO_ROOT_USER=${MINIO_USERNAME}
      - MINIO_ROOT_PASSWORD=${MINIO_PASSWORD}
    volumes:
      - /mnt/tank/minio:/data
    networks:
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.minio.rule=Host(`s3.$DOMAIN_NAME`)
      - traefik.http.routers.minio.entrypoints=websecure
      - traefik.http.routers.minio.tls.certresolver=cloudflare
      - traefik.http.routers.minio.service=minio
      - traefik.http.services.minio.loadbalancer.server.port=9000
      - traefik.http.routers.minio-console.rule=Host(`minio.$DOMAIN_NAME`)
      - traefik.http.routers.minio-console.entrypoints=websecure
      - traefik.http.routers.minio-console.tls.certresolver=cloudflare
      - traefik.http.routers.minio-console.service=minio-console
      - traefik.http.services.minio-console.loadbalancer.server.port=9001
      - dsm.traefik.router=minio-console
  resilio_sync:
    image: lscr.io/linuxserver/resilio-sync:latest
    container_name: resilio-sync
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${DOCKER_DATA_DIRECTORY}/resilio-sync/config:/config
      - /mnt/storage:/storage
      - /mnt/depot-cache/resilio-sync:/downloads
      - /mnt/storage:/sync
    ports:
      - 53255:55555
    restart: unless-stopped
    networks:
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.resilio-sync.rule=Host(`resilio-sync.$DOMAIN_NAME`)
      - traefik.http.routers.resilio-sync.entrypoints=websecure
      - traefik.http.routers.resilio-sync.tls.certresolver=cloudflare
      - traefik.http.services.reslio-sync.loadbalancer.server.port=8888
  syncthing:
    image: lscr.io/linuxserver/syncthing:latest
    container_name: syncthing
    hostname: ${HOSTNAME}
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${DOCKER_DATA_DIRECTORY}/syncthing/config:/config
      # - /mnt/tank/data/syncthing:/data
    ports:
      - 22000:22000/tcp
      - 22000:22000/udp
      - 21027:21027/udp
    restart: unless-stopped
    networks:
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.syncthing.rule=Host(`syncthing.$DOMAIN_NAME`)
      - traefik.http.routers.syncthing.entrypoints=websecure
      - traefik.http.routers.syncthing.tls.certresolver=cloudflare
      - traefik.http.services.syncthing.loadbalancer.server.port=8384

networks:
  traefik:
    name: traefik
    external: true
