---
services:
  gitea:
    image: gitea/gitea:latest
    container_name: gitea
    environment:
      - USER_UID=${PUID}
      - USER_GID=${PGID}
    restart: unless-stopped
    ports:
      - "222:22" # SSH
    volumes:
      - /mnt/tank/data/gitea:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    networks:
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.gitea.rule=Host(`gitea.$DOMAIN_NAME`)
      - traefik.http.routers.gitea.entrypoints=websecure
      - traefik.http.routers.gitea.tls.certresolver=cloudflare
      - traefik.http.routers.gitea.service=gitea
      - traefik.http.services.gitea.loadbalancer.server.port=3000
      - dsm.traefik.router=gitea
  iperf:
    container_name: iperf
    image: mlabbe/iperf3
    restart: unless-stopped
    ports:
      - 5201:5201/tcp
      - 5201:5201/udp
  linkding:
    image: sissbruecker/linkding:latest
    container_name: "linkding"
    volumes:
      - "/mnt/tank/linkding/data:/etc/linkding/data"
    environment:
      - LD_SUPERUSER_NAME=${LINKDING_SUPERUSER_NAME}
      - LD_SUPERUSER_PASSWORD=${LINKDING_SUPERUSER_PASSWORD}
      - LD_CSRF_TRUSTED_ORIGINS=https://linkding.$DOMAIN_NAME
      - LD_LOG_X_FORWARDED_FOR=true
    restart: unless-stopped
    networks:
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.linkding.rule=Host(`linkding.$DOMAIN_NAME`)
      - traefik.http.routers.linkding.entrypoints=websecure
      - traefik.http.routers.linkding.tls.certresolver=cloudflare
      - traefik.http.services.linkding.loadbalancer.server.port=9090
  linkwarden-postgres:
    image: postgres:16-alpine
    container_name: linkwarden-postgres
    restart: unless-stopped
    networks:
      - linkwarden
    environment:
      - POSTGRES_USER=${LINKWARDEN_POSTGRES_USER}
      - POSTGRES_PASSWORD=${LINKWARDEN_POSTGRES_PASSWORD}
      - POSTGRES_DB=${LINKWARDEN_POSTGRES_DB}
    volumes:
      - /mnt/tank/linkwarden/postgres:/var/lib/postgresql/data
  linkwarden:
    image: ghcr.io/linkwarden/linkwarden:latest
    container_name: linkwarden
    environment:
      - DATABASE_URL=postgresql://${LINKWARDEN_POSTGRES_USER}:${LINKWARDEN_POSTGRES_PASSWORD}@linkwarden-postgres:5432/${LINKWARDEN_POSTGRES_DB}
      - NEXTAUTH_SECRET=${LINKWARDEN_NEXTAUTH_SECRET}
      - NEXTAUTH_URL=http://localhost:3000
    restart: always
    volumes:
      - /mnt/tank/linkwarden/data:/data/data
    depends_on:
      - linkwarden-postgres
    networks:
      - linkwarden
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.linkwarden.rule=Host(`linkwarden.$DOMAIN_NAME`)
      - traefik.http.routers.linkwarden.entrypoints=websecure
      - traefik.http.routers.linkwarden.tls.certresolver=cloudflare
      - traefik.http.services.linkwarden.loadbalancer.server.port=3000
  minio:
    image: minio/minio:latest
    container_name: minio
    restart: unless-stopped
    command:
      ['server', '/data', '--address', '0.0.0.0:9000', '--console-address', '0.0.0.0:9001']
    environment:
      - MINIO_ROOT_USER=${MINIO_USERNAME}
      - MINIO_ROOT_PASSWORD=${MINIO_PASSWORD}
    volumes:
      - /mnt/tank/minio:/data
    networks:
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.minio.rule=Host(`s3.$DOMAIN_NAME`)
      - traefik.http.routers.minio.entrypoints=websecure
      - traefik.http.routers.minio.tls.certresolver=cloudflare
      - traefik.http.routers.minio.service=minio
      - traefik.http.services.minio.loadbalancer.server.port=9000
      - traefik.http.routers.minio-console.rule=Host(`minio.$DOMAIN_NAME`)
      - traefik.http.routers.minio-console.entrypoints=websecure
      - traefik.http.routers.minio-console.tls.certresolver=cloudflare
      - traefik.http.routers.minio-console.service=minio-console
      - traefik.http.services.minio-console.loadbalancer.server.port=9001
      - dsm.traefik.router=minio-console
  netbootxyz:
    image: ghcr.io/netbootxyz/netbootxyz
    container_name: netbootxyz
    # environment:
      # - MENU_VERSION=2.0.47 # optional
    volumes:
      - ${DOCKER_DATA_DIRECTORY}/netbootxyz/config:/config
      - ${DOCKER_DATA_DIRECTORY}/netbootxyz/assets:/assets
    ports:
      - 69:69/udp
    networks:
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.netbootxyz.rule=Host(`netbootxyz.$DOMAIN_NAME`)
      - traefik.http.routers.netbootxyz.entrypoints=websecure
      - traefik.http.routers.netbootxyz.tls.certresolver=cloudflare
      - traefik.http.routers.netbootxyz.service=netbootxyz
      - traefik.http.services.netbootxyz.loadbalancer.server.port=3000
      - traefik.http.routers.netbootxyz-assets.rule=Host(`netbootxyz-assets.$DOMAIN_NAME`)
      - traefik.http.routers.netbootxyz-assets.entrypoints=websecure
      - traefik.http.routers.netbootxyz-assets.tls.certresolver=cloudflare
      - traefik.http.routers.netbootxyz-assets.service=netbootxyz-assets
      - traefik.http.services.netbootxyz-assets.loadbalancer.server.port=80
  resilio_sync:
    image: lscr.io/linuxserver/resilio-sync:latest
    container_name: resilio-sync
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${DOCKER_DATA_DIRECTORY}/resilio-sync/config:/config
      - /mnt/storage:/storage
      - /mnt/depot-cache/resilio-sync:/downloads
      - /mnt/storage:/sync
    ports:
      - 53255:55555
    restart: unless-stopped
    networks:
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.resilio-sync.rule=Host(`resilio-sync.$DOMAIN_NAME`)
      - traefik.http.routers.resilio-sync.entrypoints=websecure
      - traefik.http.routers.resilio-sync.tls.certresolver=cloudflare
      - traefik.http.services.reslio-sync.loadbalancer.server.port=8888
  syncthing:
    image: lscr.io/linuxserver/syncthing:latest
    container_name: syncthing
    hostname: ${HOSTNAME}
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${DOCKER_DATA_DIRECTORY}/syncthing/config:/config
      # - /mnt/tank/data/syncthing:/data
    ports:
      - 22000:22000/tcp
      - 22000:22000/udp
      - 21027:21027/udp
    restart: unless-stopped
    networks:
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.syncthing.rule=Host(`syncthing.$DOMAIN_NAME`)
      - traefik.http.routers.syncthing.entrypoints=websecure
      - traefik.http.routers.syncthing.tls.certresolver=cloudflare
      - traefik.http.services.syncthing.loadbalancer.server.port=8384

networks:
  traefik:
    name: traefik
    external: true
  linkwarden:
    name: linkwarden
