Types: deb
URIs: http://download.proxmox.com/debian/ceph-{{ pve_ceph_release }}
Suites: {{ pve_node_ceph_suite }}
Components: {{ pve_node_ceph_repository }}
Signed-By: /usr/share/keyrings/proxmox-archive-keyring.gpg
