---
- name: Configure cloud-01
  hosts: cloud-01
  become: true

  vars:
    security_ssh_port: "{{ sshd_port }}"

  roles:
    - configure_server
    - geerlingguy.docker
    - docker_compose_diun
    - docker_compose_wireguard
    - docker_compose_traefik # Needs to be before docker-compose-cloud-01 for the traefik network to be created
    - role: docker_compose
      vars:
        docker_compose_copy_scripts: true
        docker_compose_src_file_path: files/cloud-01/docker-compose-cloud-01.yml
        docker_compose_envs:
          FRESHRSS_DOMAIN_NAME: "freshrss.{{ domain_name }}"
          FRESHRSS_USERNAME: "{{ freshrss_username }}"
          FRESHRSS_PASSWORD: "{{ freshrss_password }}"
          FRESHRSS_EMAIL: "{{ freshrss_email }}"
          FRESHRSS_API_PASSWORD: "{{ freshrss_api_password }}"
          FRESHRSS_UPDATE_FEEDS_CRON_MIN: 9,39

  tasks:
    - name: Add ssh authorized keys
      ansible.posix.authorized_key:
        user: "{{ ansible_user }}"
        key: "{{ work_laptop_01_ssh_public_key }}"
        state: present
    - name: FreshRSS update feeds cron job
      ansible.builtin.cron:
        name: "Run FreshRSS feed updater"
        minute: "*/15"
        job: "/usr/bin/docker exec --user www-data freshrss php ./app/actualize_script.php > /tmp/FreshRSS.log 2>&1"
