---
- name: Configure network hosts
  hosts: network
  become: true

  roles:
    - configure_server
    - geerlingguy.docker
    - disable_resolved_dns_stub_listener # This appears to be unnecessary since tailscale replaces /etc/resolve.conf
    - tailscale_exit_node
    - docker_compose_adguardhome
    - docker_compose_dashboard_services_manager_provider
    - docker_compose_diun
    - role: docker_compose_wireguard
      vars:
        docker_compose_copy_scripts: true

- name: Configure origin adguardhome host
  hosts: network[0]
  become: true
  tasks:
    - name: Configure adguardhome-sync
      vars:
        adguardhome_sync_hostname: "{{ adguardhome_hostname }}"
      ansible.builtin.include_role:
        name: docker_compose_adguardhome_sync
