---
- name: Configure Proxmox vm-host-03
  hosts: vm-host-03
  become: true

  roles:
    # - pve_cluster_acme
    # - pve_node_acme
    # - pve_config
    # - pve_storage_add_nas_01_proxmox
    # - configure_server
    - scrutiny_collector
    - role: power_saving
      vars:
        power_saving_pcie_runtime_all_devices_enabled: true
        # power_saving_sata_all_devices: true
    # - role: nut
    #   vars:
    #     nut_enable_client: true
    #     nut_client_servers:
    #       - ups_name: "{{ ups_monitor_rack_nut_ups_name }}"
    #         server_address: "{{ ups_monitor_rack_nut_server_address }}"
    #         username: "{{ ups_monitor_rack_nut_vm_host_03_username }}"
    #         password: "{{ ups_monitor_rack_nut_vm_host_03_password }}"
    - role: pikvm_remote_command
      vars:
        pikvm_remote_command_ssh_public_key: "{{ pikvm_kvmd_ssh_public_key }}"

  tasks:
    - name: Configure network interfaces
      ansible.builtin.copy:
        src: files/vm-host-03/interfaces
        dest: /etc/network/interfaces
        mode: "0644"
        owner: root
        group: root
    # - name: Add syncoid user
    #   ansible.builtin.user:
    #     name: "{{ nas_02_syncoid_username }}"
    #     password: '!'
    # - name: Authorize nas-01 syncoid key for syncoid user
    #   ansible.posix.authorized_key:
    #     user: "{{ nas_02_syncoid_username }}"
    #     state: present
    #     key: "{{ nas_01_syncoid_ssh_public_key }}"
    # - name: Allow syncoid user to shutdown
    #   ansible.builtin.lineinfile:
    #     path: /etc/sudoers
    #     line: "{{ nas_02_syncoid_username }} ALL=NOPASSWD: /usr/sbin/shutdown"
