# Not used
# pi-nas
---
- name: Configure nas-03 host
  hosts: nas-03
  become: true

  vars:
    syncoid_destination_username: "{{ nas_03_syncoid_username }}"
    syncoid_source_ssh_public_keys:
      - "{{ nas_01_syncoid_ssh_public_key }}"
    syncoid_destination_dataset: backups

  roles:
    # - configure_server
  #   - realtek_r8125_dkms
    - zfs_install
    - backup_destination
