use_default_settings: true
server:
  # base_url is defined in the SEARXNG_BASE_URL environment variable, see .env and docker-compose.yml
  secret_key: "{{ searxng_secret_key }}"
  limiter: false  # can be disabled for a private instance
  image_proxy: true
ui:
  static_use_hash: true
redis:
  url: redis://searxng-redis:6379/0
search:
  safe_search: 0
  formats:
    - html
    - json