---
- name: Configure certbot docker compose
  vars:
    docker_compose_certbot_domain_name: "{{ adguardhome_hostname }}"
  ansible.builtin.include_role:
    name: docker_compose_certbot
- name: Configure adguardhome docker compose
  vars:
    docker_compose_src_file_path: files/docker-compose-adguardhome.yaml
    docker_compose_service_name: adguardhome
    docker_compose_envs:
      ADGUARDHOME_HOSTNAME: "{{ adguardhome_hostname }}"
      ADGUARDHOME_CONFIG_DIRECTORY: "{{ adguardhome_config_directory }}"
  ansible.builtin.include_role:
    name: docker_compose
- name: Try to access web interface
  ansible.builtin.uri:
    url: "http://{{ adguardhome_hostname }}"
  ignore_errors: true
  register: adguardhome_web_interface_result
- name: Initial config
  when: adguardhome_web_interface_result.status == -1
  block:
    - name: AdGuardHome initial setup
      vars:
        setup_request:
          dns:
            can_autofix: false
            ip: "0.0.0.0"
            port: 53
            status: ""
          web:
            can_autofix: false
            ip: "0.0.0.0"
            port: 80
            status: ""
          set_static_ip: false
          username: "{{ adguardhome_username }}"
          password: "{{ adguardhome_password }}"
      ansible.builtin.uri:
        url: "http://{{ adguardhome_hostname }}:3000/control/install/configure"
        method: POST
        body: "{{ setup_request | to_json }}"
        body_format: json
    - name: Get AdGuardHome.yaml
      ansible.builtin.slurp:
        src: "{{ adguardhome_config_path }}"
      register: adguardhome_config_slurp_result
    - name: Configure SSL
      vars:
        adguardhome_config: "{{ adguardhome_config_slurp_result.content | b64decode | from_yaml }}"
        ssl_config:
          tls:
            enabled: true
            server_name: "{{ adguardhome_hostname }}"
            force_https: false
            port_https: 443
            port_dns_over_tls: 853
            port_dns_over_quic: 784
            certificate_path: "/certbot/config/live/{{ adguardhome_hostname }}/fullchain.pem"
            private_key_path: "/certbot/config/live/{{ adguardhome_hostname }}/privkey.pem"
        updated_adguardhome_config: "{{ adguardhome_config | combine(ssl_config) }}"
      ansible.builtin.copy:
        dest: "{{ adguardhome_config_path }}"
        content: "{{ updated_adguardhome_config | to_yaml }}"
        mode: "0644"
    - name: Restart adguardhome
      ansible.builtin.command:
        cmd: docker restart adguardhome
      changed_when: false
