---
- name: Copy Github SSH authorized keys
  ansible.posix.authorized_key:
    user: "{{ ansible_user }}"
    key: https://github.com/andyattebery.keys
    state: present
- name: Add SSH authorized keys
  ansible.posix.authorized_key:
    user: "{{ ansible_user }}"
    key: "{{ ssh_public_key }}"
    state: present
  loop:
    - "{{ blink_ssh_public_key }}"
    - "{{ ideapad_3_ssh_public_key }}"
    - "{{ servercat_ssh_public_key }}"
    - "{{ steamdeck_ssh_public_key }}"
  loop_control:
    loop_var: ssh_public_key
- name: Enable SSH forwarding for sudo
  ansible.builtin.lineinfile:
    dest: /etc/sudoers
    insertafter: '^#?\s*Defaults\s+env_keep\b'
    line: 'Defaults    env_keep += "SSH_AUTH_SOCK"'
- name: Install packages
  ansible.builtin.package:
    name:
      - git
      - gpg
      - mosh
      - tmux
      - vim
- name: Set locale
  ansible.builtin.include_role:
    name: oefenweb.locales
  vars:
    locales_present:
      - "{{ locale }}"
    locales_default:
      lang: "{{ locale }}"
- name: Set timezone
  community.general.timezone:
    name: "{{ timezone }}"
- name: Disable ubuntu ads
  when: ansible_distribution == 'Ubuntu'
  ansible.builtin.include_role:
    name: ubuntu_disable_ads
- name: Run roles
  ansible.builtin.include_role:
    name: "{{ role_item }}"
  loop:
    - geerlingguy.security
    - fish_install
    - configure_dotfiles
    - beszel_agent
  loop_control:
    loop_var: role_item
  vars:
    fish_install_change_shell: true
    settings_repo_application_dotfiles:
      - fish
      - git
      - ssh
      - tmux
