Types: deb
URIs: http://download.opensuse.org/repositories/shells:/fish:/release:/4/Debian_{{ ansible_distribution_major_version }}/
Suites: /
Components:
Signed-By: /etc/apt/trusted.gpg.d/shells_fish_release_4.gpg